{% extends 'base.html' %}

{%block content%}

     {% load cart%}
     {% load currency_filter %}
   <div class="container-fluid">
      <div class="row">
      <!--filter-->
       <div class="col-lg-3">
         <div class="list-group">
          <a href="/" class="list-group-item list-group-item-action ">All Products</a>
        </div>
       {%for category in categories%}
        <div class="list-group">
          <a href="/?category={{category.id}}" class="list-group-item list-group-item-action ">{{category.name}}</a>
        </div>
        {%endfor%}
       </div>



      <!--all products-->
        <div id="products" class="col-lg-9 mx-auto">
         <div class="row mx-auto  " mx-auto>
            {%for item in Product%}
               <div class="card mx-auto mb-3 p-0" id={{item.id}} style="width: 20rem;">
               <img src="{{item.image.url}}" class="card-img-top" alt="...">
               <div class="card-body">
                 <h5 class="card-title">{{item.name}}</h5>
               <p class="card-text">{{item.price|currency}}</p>

            </div>
             <div class="card-footer p-0" >
              {% if item|is_in_cart:request.session.cart%}
                 <div class="row no-gutters">
                   <form action="/#{{item.id}}" method="POST" class=" col-2">
                 {% csrf_token %}
                 <input hidden type="text" name="item" value='{{item.id}}'>
                 <input hidden type="text" name="remove" value='True'>
                <input type="submit" value="-" class=" btn btn-block btn-secondary">
                </form>
                <div class="text-center col btn-block">{{item|cart_quantity:request.session.cart}}in cart</div>
                 <form action="/#{{item.id}}" method="POST" class=" col-2">
                 {% csrf_token %}
                 <input hidden type="text" name="item" value='{{item.id}}'hidden>
                <input type="submit" value="+" class=" btn btn-block btn-secondary">
                </form>
              </div>
              {% else %}
              <form action="/#{{item.id}}" method="POST" class=" no-gutters ">
                 {% csrf_token %}
                 <input hidden type="text" name="item" value='{{item.id}}'>
                 <input href="/#{{item.id}}" type="submit" class="float-right  btn-light border form-contol w-100 btn-sm"value="add to cart">
              </form>
              {% endif %}
             </div>
            </div>
            {%endfor%}
         </div>
       </div>
    
      </div>
   </div>

    {% endblock %}

 


